<nav class="navbar navbar-dark bg-primary">
  <div class="nav navbar-nav">
      <a class="nav-item nav-link"
        [class.active]="aba == 'home'"
        (click)="aba = 'home'"
      >Home</a>
      <a class="nav-item nav-link"
        [class.active]="aba == 'arquivo'"
        (click)="aba = 'arquivo'"
      >Arquivo</a>
      <a class="nav-item nav-link"
        [class.active]="aba == 'lista'"
        (click)="aba = 'lista'"
      >Lista</a>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'arquivo'">Mostra a página de arquivos</p>
  <p *ngSwitchCase="'lista'">Mostra a página de listas</p>
  <p *ngSwitchDefault>Mostra a página de home</p>
</div>